<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:t>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>模板管理</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content=""/>
    <link href="${res}/form-design/css/form-desing.css" rel="stylesheet" type="text/css"/>

    <#include "/html/head.html"/>
    <@head/>

    <script type="text/javascript" src="${res}/form-design/js/form-desing-core.js"></script>
    <script type="text/javascript">
        $(function () {

            $(".form-lead-tab li ").click(function (e) {
                $(".form-lead-tab .active").removeClass("active");
                $(this).find("a").addClass("active");
                $(".widget-list").parent().hide();
                $("#" + $(this).attr("for")).show();
            });

            $("#sidebar").addClass("menu-min")
        })
    </script>
</head>

<body>
<!-- Header starts -->
<#include "/html/header.html"/>
<!-- Header ends -->

<!-- Main starts -->
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <#include "/html/sidebar.html"/>
        <div class="main-content">
            <div>
                <div id="form-widget" class="pull-left form-widget">
                    <div class="form-lead">
                        <ul class="form-lead-tab">
                            <li for="form-widget-list"><a class="j_widget_tab active">布局控件</a></li>
                            <li for="layout-widget-list"><a href="#">表单控件</a></li>
                        </ul>
                    </div>
                    <div id="form-widget-list">
                        <ul class="widget-list widget-layout bg-white">
                            <div class="widget-item" title="拖拽至页面中间区域" type="layout" col="2">
                                <span class="title">一行两列布局</span>
                                <span class="widgetMark layout-1"></span>
                            </div>
                            <div class="widget-item" title="拖拽至页面中间区域" type="layout" col="3">
                                <span class="title">一行三列布局</span>
                                <span class="widgetMark layout-1"></span>
                            </div>
                            <div class="widget-item" title="拖拽至页面中间区域" type="layout" col="3">
                                <span class="title">一行两列布局</span>
                                <span class="widgetMark layout-1"></span>
                            </div>
                        </ul>
                    </div>
                    <div id="layout-widget-list" style="display: none">
                        <ul class="widget-list widget-layout bg-white">
                            <div class="widget-item" title="拖拽至页面中间区域" type="text">
                                <span class="title">文本框</span>
                                <span class="widgetMark layout-1"></span>
                            </div>

                            <div class="widget-item" title="拖拽至页面中间区域" type="textarea">
                                <span class="title">多行文本</span>
                                <span class="widgetMark layout-1"></span>
                            </div>

                            <div class="widget-item" title="拖拽至页面中间区域" type="select">
                                <span class="title">下拉菜单</span>
                                <span class="widgetMark layout-1"></span>
                            </div>

                            <div class="widget-item" title="拖拽至页面中间区域" type="radio">
                                <span class="title">单选框</span>
                                <span class="widgetMark layout-1"></span>
                            </div>

                            <div class="widget-item" title="拖拽至页面中间区域" type="checked">
                                <span class="title">复选框</span>
                                <span class="widgetMark layout-1"></span>
                            </div>


                            <div class="widget-item" title="拖拽至页面中间区域" type="grid">
                                <span class="title">列表控件</span>
                                <span class="widgetMark layout-1"></span>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="form-design pull-left" id="editView">
                    <div id="form-view" class="form-view">
                        <div class="form-head form-head_js">
                            <p class="form-name">123213</p>
                            <div class="form-description">wqe2132w</div>
                        </div>
                    </div>
                </div>
                <div id="formEdit" class="pull-left form-widget">
                    <div class="form-lead">
                        <ul class="form-lead-tab">
                            <li><a class="j_widget_tab active">控件设置</a></li>
                            <li><a href="#">设置表单</a></li>
                        </ul>
                    </div>
                    <div id="edit-widget">

                    </div>
                    <div id="edit-form" style="display: none">
                        <div class="form-group">
                            <label>标题</label>

                            <div class="c-danger"></div>
                            <input id="name-form" type="text" class="form-control ds-b w-full" value="wqe" maxlength="100"
                                   ownership="personal">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="field field_js field-hoz" title="拖拽至页面中间区域" componentkey="Text" style="display: none;">
        <span class="j_widgetDele widgetDele-btn"><i class="icon-remove-sign"></i></span>
        <label class="widget-title"><span class="widget-title_js">文本输入框</span><span class="c-danger widget-required_js"></span></label>

        <div class="widget-content">
            <div class="field-description hide">描述</div>
            <input type="text" class="form-control medium"></div>
    </div>
</body>

</html>