<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:t>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>模板管理</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="" />
    <#include "../head.html"/>
    <@head/>

</head>

<body>
	<!-- Header starts -->
	<#include "../../../header.html"/>
	<!-- Header ends -->

	<!-- Main starts -->
	<div class="main-container" id="main-container">
		<div class="main-container-inner">
			<#include "../../sidebar.html"/>

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"></i> <a href="#">首页</a></li>
						<li class="active">控制台</li>
					</ul>
					<!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon"> <input type="text"
								placeholder="Search ..." class="nav-search-input"
								id="nav-search-input" autocomplete="off" /> <i
								class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div>
					<!-- #nav-search -->
				</div>

				<!-- page-content stats -->
				<div class="page-content">
					<div class="page-header">
						<h1>
							控制台 <small><i class="icon-double-angle-right"></i>添加模板</small>
						</h1>
					</div>
					<!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<@ui.widget title="添加模板" id="tempWidget">
								<@ui.form id="tempForm" action="save.do" class="">
                                    <div class="form-group">
                                        <label for="code">编码</label>
                                        <input type="text" name="code" id="code" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="context" >内容</label>
                                        <textarea name="context" id="context" rows="20" cols="80" class="form-control"></textarea>
                                    </div>
                                </@ui.form>
							</@ui.widget>
						</div>
					</div>
				</div>
				<!-- page-content end -->
			</div>
			<!-- Main end -->
        </div>
</body>
</html>