<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:t>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>模板管理</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content=""/>
    <link href="${res}/form-design/css/form-desing.css" rel="stylesheet" type="text/css"/>

    <#include "../../head.html"/>
    <@head/>

    <script type="text/javascript" src="${res}/form-design/js/form-desing-core.js"></script>
    <script type="text/javascript" src="${res}/form-design/js/form-design-plugins.js"></script>
    <script type="text/javascript" src="${res}/form-design/js/form-design-config.js"></script>
    <script type="text/javascript" src="${res}/form-design/js/form-design-control.js"></script>
    <script type="text/javascript">
        $(function () {

            $(".form-lead-tab li ").click(function (e) {
                $(this).parent().find(".active").removeClass("active");
                $(this).find("a").addClass("active");
                $(this).parentsUntil(".form-widget").parent().find(".form-widget-list").hide();
                $("#" + $(this).attr("for")).show();
            });

            $("#sidebar").addClass("menu-min");

            //预览
            $(".userbtns a:eq(0)").bind("click",function(){

                var preview = $("#form-preview").html($("#editView").html());
                preview.find(".field-active").removeClass("field-active");
                preview.find("*").removeAttr("style");

               $("#form-preview").parent().removeClass("hide");
            });


            $("#form-preview").prev("button").bind("click",function(){
                $("#form-preview").parent().removeClass("hide").addClass("hide");
            });

            //保存模板
            $(".userbtns a:eq(1)").bind("click",function(){

                var controls = $("#editView").find(".field");

                var props = [] ;
                controls.each(function(idx,ele){
                    var control = $(ele) ;
                    var type = control.data("type");
                    var id = control.attr("id");

                    var config = $.formdesign.config[type];
                    var prop = {type:type,id:id} ;
                    for(var key in config){
                        if(control.data(key)){
                            prop[key] = control.data(key);
                        }
                    }
                    props.push(prop);
                });

                var preview = $("#form-preview").html($("#editView").html());
                preview.find(".field-active").removeClass("field-active");
                preview.find("*").removeAttr("style");

                var object_code = $("<input type='hidden' name='object_code'/>");
                var tpl_id = $("<input type='hidden' name='tpl_id'/>");
                var _id = $("<input type='hidden' name='_id'/>");

                tpl_id.appendTo(preview);
                object_code.appendTo(preview);
                _id.appendTo(preview);

                var name = $("#form-preview .form-name").text();
                var desc = $("#form-preview .form-description").text();
                var ocode = $.formdesign.attrs.object.code ;
                var thtml = preview.html();

                //判断是否是修改
                var formid = $("#formid").val();
                var params = {object_code:ocode,content:thtml,name:name,desc:desc,props:props} ;
                if(formid){
                    params.formid = formid ;
                }
                $.post("nsave.do",{json:JSON.stringify(params)},function(data){
                    alert("保存成功");
                    $("#formid").val(data);
                });
            });
        })
    </script>
</head>

<body class="edit">
<!-- Header starts -->
<#include "../../header.html"/>
<!-- Header ends -->

    <!-- Main starts -->
    <div class="main-container" id="main-container">
        <div class="main-container-inner">
            <#include "../../sidebar.html"/>
            <div class="main-content">
                <input id="formid" name="formid" type="hidden"/>
                <div style="height: 40px;width: 100%;padding-top: 2px;background-color:wheat">
                    <span style="padding-top: 10px;text-align: center">自定义表单设计器</span>
                    <div class="pull-right userbtns">
                        <a class="btn btn-sm btn-lake" submittype="preview">预览</a>
                        <a class="btn btn-sm" submittype="save">保存</a>
                        <a class="btn btn-sm" submittype="enable">保存并启用</a>
                    </div>
                </div>
                <div>
                    <div id="form-widget" class="pull-left form-widget">
                        <div class="form-lead">
                            <ul class="form-lead-tab">
                                <li for="form-widget-list"><a class="j_widget_tab ">布局控件</a></li>
                                <li for="layout-widget-list"><a class="j_widget_tab active">表单控件</a></li>
                            </ul>
                        </div>
                        <div id="form-widget-list" class="form-widget-list" style="display: none">
                            <ul class="widget-list widget-layout bg-white">
                                <div class="widget-item" title="拖拽至页面中间区域" type="layout" col="2">
                                    <span class="title">一行两列</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>
                                <div class="widget-item" title="拖拽至页面中间区域" type="layout" col="3">
                                    <span class="title">一行三列</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>
                            </ul>
                        </div>
                        <div id="layout-widget-list" class="form-widget-list" >
                            <ul class="widget-list widget-layout bg-white">
                                <div class="widget-item" title="拖拽至页面中间区域" type="text">
                                    <span class="title">文本框</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="textarea">
                                    <span class="title">多行文本</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="select">
                                    <span class="title">下拉菜单</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="radio">
                                    <span class="title">单选框</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="checkbox">
                                    <span class="title">复选框</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="data">
                                    <span class="title">日期</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="data">
                                    <span class="title">日期区间</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="data">
                                    <span class="title">数字输入</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="data">
                                    <span class="title">金额</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="data">
                                    <span class="title">分隔线</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="data">
                                    <span class="title">描述</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="user">
                                    <span class="title">选择用户</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="org">
                                    <span class="title">选择机构</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="file">
                                    <span class="title">文件上传</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>

                                <div class="widget-item" title="拖拽至页面中间区域" type="grid">
                                    <span class="title">列表控件</span>
                                    <span class="widgetMark layout-1"></span>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div id="editView" class="form-design pull-left">
                        <div id="form-view" class="form-view">
                            <div class="form-head form-head_js">
                                <input type="hidden" name="form_title" value=""/>
                                <input type="hidden" name="form_desc"  value=""/>
                                <p class="form-name">标题</p>
                                <div class="form-description">标题描述 </div>
                            </div>
                            <div id="widget-control" class="widget-control form-view_js ui-sortable" style="min-height:112px;">

                            </div>
                        </div>
                    </div>
                    <div id="formEdit" class="pull-left form-widget">
                        <div class="form-lead">
                            控件设置
                        </div>
                        <div id="edit-widget" class="form-widget-list">
                            <div class="form-Edit-content bg-white">
                                <div id="editor-component">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="field field_js field-hoz" style="display: none;" id="text">
            <span class="j_widgetDele widgetDele-btn"><i class="icon-remove-sign"></i></span>
            <label class="widget-title"><span>文本输入框</span><span class="required"></span></label>

            <div class="widget-content">
                <div class="field-description hide">描述</div>
                <input type="text" class="form-control medium">
            </div>
        </div>
        <div class="field field_js field-hoz" style="display: none;" id="textarea">
            <span class="j_widgetDele widgetDele-btn"><i class="icon-remove-sign"></i></span>
            <label class="widget-title"><span>文本输入框</span><span class="required"></span></label>

            <div class="widget-content">
                <div class="field-description hide">描述</div>
                <textarea type="text" class="form-control medium"></textarea>
            </div>
        </div>

        <div class="field field_js field-hoz" style="display: none;" id="select">
            <span class="j_widgetDele widgetDele-btn"><i class="icon-remove-sign"></i></span>
            <label class="widget-title"><span>单选框</span><span class="required"></span></label>

            <div class="widget-content">
                <div class="field-description hide">描述</div>
                <div class="controls">
                    <select>
                        <option>请选择</option>
                        <option>请选择</option>
                        <option>请选择</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field field_js field-hoz" style="display: none;" id="radio">
            <span class="j_widgetDele widgetDele-btn"><i class="icon-remove-sign"></i></span>
            <label class="widget-title"><span>单选框</span><span class="required"></span></label>

            <div class="widget-content">
                <div class="field-description hide">描述</div>
                <div style="padding: 6px 12px;">
                    <input type="radio" name="a"/> 1 <input type="radio" name="a"/> 2 <input type="radio" name="a"/> 3
                </div>
            </div>
        </div>

        <div class="field field_js field-hoz" style="display: none;" id="checkbox">
            <span class="j_widgetDele widgetDele-btn"><i class="icon-remove-sign"></i></span>
            <label class="widget-title"><span>单选框</span><span class="required"></span></label>

            <div class="widget-content">
                <div class="field-description hide">描述</div>
                <div style="padding: 6px 12px;">
                    <input type="checkbox" name="a"/> 1 <input type="checkbox" name="a"/> 2 <input type="checkbox"
                                                                                                   name="a"/> 3
                </div>
            </div>
        </div>

        <div class="field field_js field-hoz" style="display: none;" id="date">
            <span class="j_widgetDele widgetDele-btn"><i class="icon-remove-sign"></i></span>
            <label class="widget-title"><span>单选框</span><span class="required"></span></label>

            <div class="widget-content">
                <div class="field-description hide">描述</div>
                <div style="padding: 6px 12px;">
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>

        <div class="field field_js field-hoz" style="display: none;" id="file">
            <span class="j_widgetDele widgetDele-btn"><i class="icon-remove-sign"></i></span>
            <label class="widget-title"><span>上传文件</span><span class="required"></span></label>

            <div class="widget-content">
                <div class="field-description hide">描述</div>
                <div style="padding: 6px 12px;">
                     <input type="file" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="field field_js field-hoz" style="display: none;" id="grid">
            <span class="j_widgetDele widgetDele-btn"><i class="icon-remove-sign"></i></span>
            <label class="widget-title"><span>详细列表</span><span class="required"></span></label>

            <div class="widget-content">
                <div class="field-description hide">描述</div>
                <div style="padding: 6px 12px;">

                </div>
            </div>
        </div>

        <div class="field field_js field-hoz" style="display: none;" id="grid">
            <span class="j_widgetDele widgetDele-btn"><i class="icon-remove-sign"></i></span>
            <label class="widget-title"><span>表单</span><span class="required"></span></label>

            <div class="widget-content">
                <div class="field-description hide">描述</div>
                <div style="padding: 6px 12px;">

                </div>
            </div>
        </div>

        <div class="form-preview-wrapper hide">
            <button>关闭</button>
            <div id="form-preview" class="form-preview clearfix" style="min-height:257px;">

            </div>
        </div>

    </div>
</body>

</html>